{% extends "mail/layout.html" %} {% load static %} {% block body %}
<h2 class="text-4xl font-bold">Welcome {{ request.user.email }}!</h2>

<nav class="bg-black flex gap-4 py-4 my-4">
  <button class="bg-slate-700 text-white p-3 rounded-md" id="inbox">
    Inbox
  </button>
  <button class="bg-slate-700 text-white p-3 rounded-md" id="compose">
    Compose
  </button>
  <button class="bg-slate-700 text-white p-3 rounded-md" id="sent">Sent</button>
  <button class="bg-slate-700 text-white p-3 rounded-md" id="archived">
    Archived
  </button>
  <a class="bg-slate-700 text-white p-3 rounded-md" href="{% url 'logout' %}"
    >Log Out</a
  >
</nav>
<hr />

<div id="emails-view"></div>

<div id="compose-view">
  <h3 class="text-2xl font-bold">New Email</h3>
  <form class="flex flex-col gap-4" id="compose-form">
    <div class="form-group">
      From:
      <input disabled class="text-black w-full rounded-md p-3" value="{{ request.user.email }}" />
    </div>
    <div class="form-group">
      To: <input id="compose-recipients" class="text-black w-full rounded-md p-3" />
    </div>
    <div class="form-group">
      <input class="text-black w-full rounded-md p-3" id="compose-subject" placeholder="Subject" />
    </div>
    <textarea
      class="text-black w-full rounded-md p-3"
      id="compose-body"
      placeholder="Body"
    ></textarea>
    <input type="submit" class="bg-slate-700 text-white p-3 rounded-md" />
  </form>
</div>
{% endblock %} {% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
<script src="{% static 'mail/test.js' %}"></script>
{% endblock %}
