{% extends "mail/layout.html" %} {% block body %}

<h2 class="text-4xl text-center font-bold">Register</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<div class="flex justify-center">
  <form class="w-full max-w-96" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="my-4">
      <input
        class="text-black w-full rounded-md p-3"
        type="email"
        name="email"
        placeholder="Email Address"
      />
    </div>
    <div class="my-4">
      <input
        class="text-black w-full rounded-md p-3"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="my-4">
      <input
        class="text-black w-full rounded-md p-3"
        type="password"
        name="confirmation"
        placeholder="Confirm Password"
      />
    </div>
    <input
      class="bg-blue-800 w-full font-bold p-3 rounded-md"
      type="submit"
      value="Register"
    />
  </form>
</div>

<p class="text-center my-4">
  Already have an account?
  <a class="text-lime-500 font-bold" href="{% url 'login' %}">Log In here.</a>
</p>

{% endblock %}
